<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <button  class="login" (click)="loginFb()">Login with Facebook</button>
    </ion-row>
  </ion-grid>
</ion-content>

