.login {
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  line-height: 32px;
  padding: 0 6px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
}
