.logOut {
  border-radius: 2px;
  box-sizing: content-box;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  line-height: 22px;
  padding: 0 6px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
.searchInput {
  padding: 20px;
  text-align: center;
}
.searchContent {
  text-align: center;
  width: 100%;
}
.searchValueBlock {
  display: inline-block;
  padding: 5px
}
.fb_icon {
  width: 30px;
  height: 30px
}
