<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="display: inline-block; margin-right: 15%">
        <button class="logOut" (click)="logOut()">Log out</button>
      </div>
      <div  style="display: inline-block; color: #1d2129" *ngIf="userData">
        {{userData.username ? userData.username : userData.first_name}}
        <span *ngIf="userData.picture">
          <img class="avatar" src="{{userData.picture}}" alt="">
        </span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" >
    <span class="searchName">
      Type to search places in Facebook.
    </span>
    <div class="searchInput">
      <input type="text" placeholder="place" autofocus [(ngModel)]="searchValue" (input)="search(searchValue)">
    </div>
    <div class="searchContent" *ngFor="let data of searchData.data"  style="width: 100%;
padding: 10px" (click)="goToPlace(data.id)">
      <div class="searchValueBlock">{{data.name}}</div>
      <div class="searchValueBlock"><img class="fb_icon" src="../../assets/icon/icon-fb.png" alt=""></div>
    </div>
  </div>
</ion-content>
